<div class="wrap" id="contact">
	<div class="col contact-details">
		<ul>
			<li>
				<h5>Contact</h5>
				<a href="mailto:kj@kjparish.com">kj@kjparish.com</a>
			</li>
			<li>
				<h5>Links</h5>		
				<a href="{{ theme.path }}/docs/Recommendations_for_KJParish.pdf">recommendations</a><br />
				<a href="{{ theme.path }}/docs/KJParish-Resume-2015.pdf">resume</a>
			</li>
		</ul>		
	</div>
	<div class="col contact-form">
		{% filter shortcodes %}
			[contact-form-7 id="5"]
		{% endfilter %}
	</div>	
</div>

<aside>
	<h2 class="subtitle toggle">I made this</h2>
	<a class="icon-arrow-right toggle"></a>
	<p class="credits">This portfolio was designed + built by KJ using <a href="http://www.adobe.com/products/illustrator.html" target="_blank">Adobe Illustrator</a>, <a href="https://wordpress.org/" target="_blank">Wordpress</a>, <a href="http://upstatement.com/timber/" target="_blank">Timber</a>/<a href="http://twig.sensiolabs.org/" target="_blank">Twig</a>, <a href="http://www.advancedcustomfields.com/" target="_blank">Advanced Custom Fields</a>, <a href="http://lesscss.org/" target="_blank">LessCss</a>, <a href="http://lesshat.madebysource.com/" target="_blank">LessHat</a>, <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>, <a href="http://suprb.com/apps/gridalicious/" target="_blank">Gridalicious</a>, &amp; <a href="http://mynameismatthieu.com/WOW/index.html" target="_blank">Wow.js</a>. <br>&copy;{{ "now"|date("Y") }} <a href="{{ site.url }}">{{ site.name }}</a> All Rights Reserved.</p>
</aside>
