{% extends "base.twig" %}

{% block content %}
	
	<section class="intro">
		<h2 class="subtitle">design + strategy</h2>
		<h3 class="callout">brand, ux, technology</h3>
	</section>

	<section class='project-grid'>

		<div id="grid" class="gridalicious">

			{% for post in posts %}
				<a class="item" href="{{ post.permalink }}">
					<img class="hero" src="{{ TimberImage(post.get_field('project_grid_image')).src|resize(768) }}" />
					<div class="project-details" {% if post.get_field('project_color') %}style="background-color:{{ post.get_field('project_color') }}"{% endif %}>
						<div class="wrap">
							<h2 class="project-title">{{ post.post_title }}</h2>
							<h3 class="project-scope">{{post.get_field('project_scope')}}</h3>
						</div>
						
					</div>
				</a>
			{% endfor %}

		</div><!-- .grid -->

	</section>

	
	  
{% endblock %}