{% extends "base.twig" %}

{% block content %}

	<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
	{% if post.get_field('hero_image_mobile') %}
		<img class="hero mobile" src="{{ TimberImage(post.get_field('hero_image_mobile')).src }}" />
	{% elseif post.get_field('hero_image') %}
		<img class="hero desktop" src="{{ TimberImage(post.get_field('hero_image')).src }}" />
	{% endif %}
	
	
		<section class="article-content">
			
			<h1 class="page-title">{{ post.title }}</h1>
			
			<div class="article-body">

				{% for content in content %}
					{# text #}
					{% if content.acf_fc_layout == 'text' %}
						{{ content.text }}

					{# small caps, with or without a link wrapper #}
					{% elseif content.acf_fc_layout == 'smcaps' %}
						{% if content.link %}
							<h4>
								<a href="{{ content.link }}" target="_blank">
									{{ content.small_caps_title }}
								</a>
							</h4>
						{% else %}
							<h4>{{ content.small_caps_title }}</h4>
						{% endif %}

					{# callout #}
					{% elseif content.acf_fc_layout == 'callout' %}
						<div class="callout">
							{{ function( 'wptexturize', content.callout ) }}
						</div>

					{# single image #}
					{% elseif content.acf_fc_layout == 'single-image' %}
						<div class="single-image">
							<img src="{{ TimberImage(content.single_image).src }}" />
						</div>
						

					{# gallery #}
					{% elseif content.acf_fc_layout == 'gallery' %}
						<div class="multi-image">
							{% for image in content.multi_images %}
								<div class="col">
									<img src="{{ TimberImage(image).src|resize(768) }}" alt="{{ post.title }}" />
								</div>
							{% endfor %}
						</div>
					  
					{% endif %}
				{% endfor %}
			</div>
		</section>
	</article>
	<nav class="pagination">

		{% if post.prev %}
			<a class="left" href="{{ post.prev.permalink }}">
				<i class="icon-arrow-left"></i>
				<span>Previous</span>
			</a>
		{% endif %}

		{% if post.next %}
			<a class="right" href="{{ post.next.permalink }}">
				<span>Next</span>
				<i class="icon-arrow-right"></i>
			</a>
		{% endif %}
	</nav>



{% endblock %}
