{% extends "base.twig" %}

{% block content %}

	<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
	{% if post.get_field('hero_image_mobile') %}
		<img class="hero mobile wow fadeIn" src="{{ TimberImage(post.get_field('hero_image_mobile')).src }}" />
	{% endif %}
	{% if post.get_field('hero_image')%}
		<img class="hero desktop wow fadeIn {% if post.get_field('full_width_hero') %}full{% endif %}" src="{{ TimberImage(post.get_field('hero_image')).src }}" />
	{% endif %}
	
	
		<section class="article-content">
			
			<h1 class="page-title">{{ post.title }}</h1>
			
			<div class="article-body">

				{% for content in content %}
					{# text #}
					{% if content.acf_fc_layout == 'text' %}
					<div class="text-block">
						{{ content.text }}
					</div>

					{# small caps, with or without a link wrapper #}
					{% elseif content.acf_fc_layout == 'smcaps' %}
						<h4>
							{% if content.link %}
								<a href="{{ content.link }}" target="_blank">
									{{ content.small_caps_title }}
								</a>
							{% else %}
								{{ content.small_caps_title }}
							{% endif %}
						</h4>

					{# callout #}
					{% elseif content.acf_fc_layout == 'callout' %}
						<div class="callout">
							{{ function( 'wptexturize', content.callout ) }}
						</div>

					{# single image #}
					{% elseif content.acf_fc_layout == 'single-image' %}
						<div class="single-image">
							<img src="{{ TimberImage(content.single_image).src }}" class="wow fadeIn {% if content.no_stack %}no-stack{% endif %}
							" />
						</div>
						

					{# gallery #}
					{% elseif content.acf_fc_layout == 'gallery' %}
						<div class="multi-image">
							{% for image in content.multi_images %}
								<div class="col{% if loop.index is divisible by(3) %} block{% endif %}">
									<img src="{{ TimberImage(image).src|resize(768) }}" class="wow fadeIn" alt="{{ post.title }}" />
								</div>
							{% endfor %}
						</div>
					  
					{% endif %}
				{% endfor %}
			</div>
		</section>
	</article>
	<nav class="pagination">

		{% if post.next %}
			<a class="left" href="{{ post.next.permalink }}">
				<i class="icon-arrow-left"></i>
				<span>Previous</span>
			</a>
		{% endif %}

		{% if post.prev %}
			<a class="right" href="{{ post.prev.permalink }}">
				<span>Next</span>
				<i class="icon-arrow-right"></i>
			</a>
		{% endif %}
	</nav>



{% endblock %}
